
* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    overflow-y: hidden;
}

body,
#search {
    font-family: Fontin, serif;
    font-size: 16px;
    color: var(--color-font);
}

body {
    /* place the content horizontally center and at ~25% screen height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#palette {
    /* the container _must_ be positioned relative */
    position: relative;
    display: inline-block;
    width: 25%;
}

#header {
    /* centers the header image horizontally */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search {
    border: 8px solid var(--color-primary);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-color: var(--color-secondary);
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

#search:focus {
    /* disable input highlighting when focused, it messes with the color scheme */
    outline: 0;
}

#resultlist {
    /* position _must_ be absolute to avoid being pushed around when many results are shown */
    position: absolute;

    /* position the resultlist items to be the same width as the container */
    top: 100%;
    left: 0;
    right: 0;
}

#resultlist .result {
    padding: var(--spacing);
    cursor: pointer;
    background-color: var(--color-secondary);
    border-left: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);

    /* align the content horizontally */
    display: flex;
    flex-direction: row;
    align-items: center;
}

#resultlist .result:last-child{
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

#resultlist .result.focus,
#resultlist .result:hover {
    background-color: var(--color-tertiary) !important;
}

#resultlist .result > img.icon {
    padding-right: var(--spacing);
    max-width: 30px;
}
