@font-face {
    font-family: Fontin;
    font-style: normal;
    font-weight: 500;
    src:
        local('Fontin'),
        url('Fontin-Regular.woff') format('woff');
}

@font-face {
    font-family: Fontin;
    font-style: italic;
    font-weight: 500;
    src:
        local('Fontin'),
        url('Fontin-Italic.woff') format('woff');
}

@font-face {
    font-family: Fontin;
    font-style: normal;
    font-weight: 700;
    src:
        local('Fontin'),
        url('Fontin-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Fontin SmallCaps';
    font-style: normal;
    font-weight: 500;
    src:
        local('Fontin SmallCaps'),
        url('Fontin-SmallCaps.woff') format('woff');
}

:root {
    --color-font: rgb(237 242 247);
    --color-primary: rgb(26 32 44);
    --color-secondary: rgb(45 55 72);
    --color-tertiary: rgb(74 85 104);
    --radius: 13px;
    --spacing: 10px;
}
