name: CI

on:
  pull_request:

jobs:
  check-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Check formatting
        run: npx prettier --check .

  ci-py:
    runs-on: ubuntu-latest
    needs: check-format
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - name: Install dependencies
        run: |
          python -m pip install uv
          uv sync

      - name: Lint
        run: uv run ruff check

      - name: Static type checking
        run: uv run mypy --strict .

      - name: Code formatting
        run: uv run ruff format --diff
    env:
      PYTHONUNBUFFERED: 1

  ci-electron:
    runs-on: ubuntu-latest
    needs: check-format
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.14

      - name: Install dependencies
        run: npm ci

      - name: Lint JS
        run: npm run lintjs

      - name: Lint CSS
        run: npm run lintcss
